body {
 -background-image: url(background.gif);
 font-family: Arial, Helvetica, sans-serif;
 -background-color: #190037;
 margin:0;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
   border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

#wrapper {
 width: 100%;
 height: 100%;
 -min-width: 1080px;
 -min-height: 680px;
 margin: 0;
 background-color: #190037;
 color: black;
overflow: auto;
}

#section {
 float: center;
 background-color: white;
 width: 100%;
 min-height: 850px;
 height: 100%;
 color: black;
 overflow: auto;
}

#chiffreCle {
  float: center;
  background-color: white;
  width: 70%;
  min-height: 130px;
  height: 100%;
  color: black;
  overflow: auto;
  margin-left: 15%;
  padding-top: 10px;
}

#footer { font
-size: .60em;
width: 100%;
height: 10%;
padding-top: 20px;
padding-bottom: 20px;
font style: italic;
-border: 3px inset black;
text-align: center;
color: white;
background-color: #190037;
-position: auto;

}

#header {
  background-color: #190037;
  width: 100%;
  height: 20%;
  padding-top: 0px;
  padding-bottom: 62px;
}

div#header a {
text-decoration:none;
}


#logo{
  position: absolute;
  left: 20px;
  top: 0px;
  text-align: center;
}



/*
  source : https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_group
*/
.btn-group .button {
  background-color: #190037; /* violet */
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.btn-group .button:hover {
  background-color: #431A73;
}



a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
  color: white;
}





/*
source : https://codepen.io/ancaspatariu/pen/WpQYOP
*/

ul.slides {
    -display: block;
    position: relative;
    height: 800px;          - taille a changer ici
    -min-height: 600px;
    margin: 0;
    padding: 0;
    -list-style: none;
      z-index: 8;
}

/*
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}*/

ul.slides input {
    display: none;
}

/*
.slide-container {
    display: block;
}*/

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* Popup */

/* Positionnez la forme Popup */
 .login-popup {
   position: relative;
   text-align: center;
   -width: 100%;
 }

 /* Masquez la forme Popup */
 .form-popup {
   display: none;
   position: fixed;
   left: 0%;
   top: 0%;
   -transform: translate(-45%, 5%);
   -border: 1px solid #666;
   -border-radius: 20px;
   z-index: 9;
   width: 100%;
   height:100%;
   background-color: #dddddd8f;
 }


 /* Styles pour le conteneur de forme de la connexion ou inscription*/
.form-container-connexion {
  display: block;
  z-index: 11;
  -max-width: 300px;
  -padding: 20px;
  position: fixed;
  left: 35%;
  top: 15%;
  background-color: #fff;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  -margin-top: -20px;
  border: 1px solid #666;
  opacity: none;
}

.form-container-inscription {
  display: block;
  z-index: 11;
  -max-width: 300px;
  -padding: 20px;
  position: fixed;
  left: 35%;
  top: 15%;
  background-color: #fff;
  border-radius: 20px;
  width: 350px;
  height: 500px;
  -margin-top: -20px;
  border: 1px solid #666;
  opacity: none;
}

.form-popup h2 {
    display: block;
    font-size: 0.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* Stylez le bouton de connexion*/
.form-container-connexion .btn {
  background-color: #ffffff3d;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
}
.form-container-inscription .btn {
  background-color: #ffffff3d;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.8;
}

/* Stylez le bouton pour annuler */
.form-container-connexion .cancel {
  background-color: none;
  position: absolute;
  bottom: 95%;
  left: 92%;
}
.form-container-inscription .cancel {
  background-color: none;
  position: absolute;
  bottom: 95%;
  left: 92%;
}

/* Stylez le bouton pour annuler */
.form-container-connexion .co {
  background-color: #80008040;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: larger;
}

.form-container-connexion .insc {
  background-color: #80008040;
  font-size: medium;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Planez les effets pour les boutons */
.form-container-connexion .btn:hover,
.open-button:hover {
  opacity: 1;
}
