#section2{
  margin-top: 5%;
  margin-left: 15%;
  background-color: transparent;
  width: 70%;
  -min-height: 600px;
  height: 70%;
  overflow: auto;
}

#section2 p{
  font-size: 20px;
}

.rdv{
  background-color: #ddd;
  position: relative;
  margin: 30px;
}

.rdv a {
  color: black;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-radius: 15px;
}
