#section2{
  margin-top: 5%;
  margin-left: 15%;
  background-color: transparent;
  width: 70%;
  -min-height: 600px;
  height: 70%;
  overflow: auto;
}

#section2 p{
  font-size: 20px;
}

.rdv{
  background-color: #ddd;
  position: relative;
  margin: 30px;
  border-radius: 30px;
}

.rdv a {
  color: black;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-radius: 15px;
}

.rdv a.icon {
  background: #190037;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.active {
  background-color: #ddd;
  color: white;
}


<<<<<<< HEAD
.submitbtnDelete{
=======
.submitbtn{
>>>>>>> ccda3c2872b39e7bd154dec0d11ac69c42f8df25
  font-size: 1.1em;
  display: block;
  position: absolute;
  top: 134px;
  left: 63%;
  border: none;
  background-color: #6666667d;
  padding: 15px;
  border-radius: 25px;
}
<<<<<<< HEAD
.submitbtnDelete:hover{
=======
.submitbtn:hover{
>>>>>>> ccda3c2872b39e7bd154dec0d11ac69c42f8df25
 background-color: purple;
  color: white;
}
